@charset "UTF-8";

.container-formacao{
    max-width: 1200px;
    padding: 120px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    position: relative;
}

.container-formacao::after{
    content: "";
    display: block;
    width: 130px;
    height: 100px;
    background: url(../images/detalhe.svg) no-repeat center center;
    position: absolute;
    bottom: -50px;
    left: 20px;
}

.formacao{
    background-color: var(--text-bold);
}

.subtitulo-formacao{
    color: var(--preto);
    max-width: 5ch;
    font-family: 'Fira Sans', Arial, sans-serif;
    font-size: 8rem;
    line-height: 1;
    word-break: break-all;
    text-transform: uppercase;
}

.formacao-texto{
    font-size: 1.5rem;
    line-height: 1.33;
    max-width: 40ch;
    margin-bottom: 60px;
    color: #a3a3a3;
}

.formacao-texto > strong{
    color: white;
}

.formacao-lista{
    display: flex;
    gap: 18px;
    list-style: none;
}

.formacao-lista-item{
    background-color: var(--preto);
    padding: 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    flex: 1; /* COLOCOU ISSO PARA QUE TODOS OS ITENS DA LISTA FICASSEM COM O MESMO TAMANHO */
}

.formacao-lista-titulo{
    font-size: 0.875rem;
    color: #a3a3a3;
    margin-bottom: 10px;
}

.formacao-lista-curso{
    font-size: 1.125rem;
    line-height: 1.4;
    color: white;
    font-weight: bold;
    margin-bottom: 40px;
    position: relative;
}

.formacao-lista-curso::before{
    content: "";
    width: 4px;
    height: 20px;
    background: linear-gradient(#b6f829, #67dd0a);
    position: absolute;
    left: -24px;
}

.formacao-lista-local{
    font-size: 1.125rem;
    color: #a3a3a3;
}

.formacao-extra{
    padding: 40px 0px;
}

.formacao-extra-cursos{
    margin-bottom: 40px;
}

.formacao-extra-cursos h3,.formacao-extra-idiomas h3{
    color: #8f8f8f;
    margin-bottom: 20px;
    font-size: 0.875rem;
    line-height: 1.4;
    position: relative;
}

.formacao-extra-cursos h3::before{
    content: "";
    display: block;
    background: url(../images/cursos.svg);
    width: 24px;
    height: 24px;
    position: absolute;
    left: -36px;
    top: -4px;
}

.formacao-extra-cursos ul, .formacao-extra-idiomas ul{
    list-style: none;
    color: #ffffff;
    display: grid;
    gap: 20px;
}

.formacao-extra-cursos ul li{
    display: flex;
    justify-content: space-between;
    font-size: 1.125rem;
    line-height: 1.1;
}

.formacao-extra-cursos > ul > li > span{
    color: #8f8f8f;
    font-size: 1.125rem;
}

.formacao-extra-idiomas ul li{
    font-size: 1.125rem;
    line-height: 1.1;
}

.formacao-extra-idiomas span{
    color: #8f8f8f;
}

.formacao-extra-idiomas h3::before{
    content: "";
    width: 24px;
    height: 24px;
    display: block;
    background: url(../images/idiomas.svg);
    position: absolute;
    left: -36px;
    top: -4px;
}

@media (max-width: 800px){
    .container-formacao{
        grid-template-columns: 1fr;
        padding: 60px 20px;
        gap: 40px;
    }

    .subtitulo-formacao{
        color: var(--preto);
        font-size: 3rem;
        max-width: initial;
        word-break: normal;
        text-transform: capitalize;
        color: #ffffff;
    }

    .formacao-texto{
        font-size: 1.25rem;
    }

    .formacao-extra-cursos h3::before, .formacao-extra-idiomas h3::before{
        position: initial;
        margin-bottom: 10px;
    }

    .formacao-lista{
        flex-wrap: wrap;
    }
}