@charset "UTF-8";

@import "colors.css";

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px;
    color: var(--text-bold);
    max-width: 1200px;
    margin: 0 auto;
}

.titulo{
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Fira Sans', Arial, sans-serif;
}

.header-nav-menu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px;
}

.header-nav-menu a{
    text-decoration: none;
    color: var(--text-bold);
    font-family: 'Fira Sans', Arial, sans-serif;
    font-size: 1.125rem;
    line-height: 1.3;
    padding: 10px 20px;
    display: block;
    border-radius: 4px;
    transition: 0.5s;
}

.header-nav-menu a:hover{
    background-color: #70DA1C;
    color: black;
}

@media (max-width: 800px){
    .header{
        flex-direction: column;
        gap: 40px;
        padding: 20px;
    }

    .header-nav-menu a{
        background-color: var(--fundo-cinza);
        border-radius: 4px;
    }
}