@charset "UTF-8";

@import "colors.css";

.introducao{
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    align-items: center;
}

.introducao-imagem > img{
    max-width: 100%;
    display: block;
}

.introducao-titulo{
    font-family: 'Fira Sans', Arial, sans-serif;
}

.introducao-titulo h1{
    font-size: 4.5rem;
    line-height: 1.125;
    margin-bottom: 30px;
    position: relative;
}

.introducao-titulo h1::before{
    content: "";
    display: block;
    width: 130px;
    height: 100px;
    background: url(../images/detalhe.svg) no-repeat center;
    position: absolute;
    top: -15px;
    left: -40px;
    z-index: -1;
}

.introducao-titulo p{
    font-size: 1.5rem;
    color: var(--text-light);
}

@media (max-width: 1000px){
    .introducao-titulo h1{
        font-size: 3rem;
    }
}

@media (max-width: 800px){
    .introducao{
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }

    .introducao-titulo h1{
        font-size: 2rem;
    }

    .introducao-titulo h1::before{
        width: 30px;
        height: 10px;
        left: 0px;
    }
}

@media (max-width: 440px){
    .introducao{
        grid-template-columns: 1fr;
        padding: 30px 10px;
    }

    .introducao-titulo h1{
        margin-bottom: 15px;
    }

    .introducao-titulo p{
        font-size: 1rem;
    }

    .introducao-imagem{
        max-width: 300px;
        margin: 0 auto;
    }
}